{% extends "admin/master.html.twig" %}

{% block title %}Update package information
{% endblock %}

{% block addHead %}

	<!-- prevent to resubmit -->
	<script>
		if (window.history.replaceState) {
window.history.replaceState(null, null, window.location.href);
}
	</script>

{% endblock %}

{% block content %}


	<h3>Edit package information</h3>


	{% if errorList %}
		<ul class="errorMessage">
			{% for error in errorList %}
				<li>{{error}}</li>
			{% endfor %}
		</ul>
	{% endif %}

	<form
		method="post">
		<!-- Name input -->
		<div class="form-outline mb-4">
			<input type="text" id="form4Example1" class="form-control" name="name" value="{{v.name}}"/>
			<label class="form-label" for="form4Example1">Name</label>
		</div>

		<!-- Type input -->
		<div class="form-outline mb-4">
			<input type="text" id="form4Example2" class="form-control" name="type" value="{{v.type}}"/>
			<label class="form-label" for="form4Example2">Type</label>
		</div>

		<!-- Location input -->
		<div class="form-outline mb-4">
			<input type="text" id="form4Example3" class="form-control" name="location" value="{{v.location}}"/>
			<label class="form-label" for="form4Example3">Location</label>
		</div>

		<!-- Location input -->
		<div class="form-outline mb-4">
			<input type="text" id="form4Example4" class="form-control" name="price" value="{{v.price}}"/>
			<label class="form-label" for="form4Example4">Price</label>
		</div>

		<!-- Details input -->
		<div class="form-outline mb-4">
			<textarea class="form-control" id="form4Example5" rows="4" name="details">{{v.details}}</textarea>
			<label class="form-label" for="form4Example5">Description</label>
		</div>


		<button type="submit" class="btn btn-primary">Update Tour Package</button>
	</form>
{% endblock content %}
