{% extends "admin/master.html.twig" %}

{% block addHead %}
	<script>
		$(document).ready(function () {
$('#example').DataTable();
});
	</script>
{% endblock %}

{% block content %}
	{# <a href="/admin/users/add">Create a new user</a> #}
	<h3>Users List</h3>
	<table id="example" class="table table-striped" style="width:100%">
		<thead>
			<tr>
				<th>ID</th>
				<th>Role</th>
				<th>Username</th>
				<th>Email</th>
				<th>Phone Number</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for u in usersList %}
				<tr>
					<td>{{u.id}}</td>
					<td>{{u.role}}</td>
					<td>{{u.username}}</td>
					<td>{{u.email}}</td>
					<td>{{u.phoneNo}}</td>
					<td>
						<a href="/admin/users/edit/{{u.id}}">
							<button type="button" class="btn btn-success">edit</button>
						</a>
						<a href="/admin/users/delete/{{u.id}}">
							<button type="button" class="btn btn-danger">delete</button>
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<em>no user found</em>
				</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
