{% extends "master.html.twig" %}

{% block addHead %}
<!-- prevent to resubmit -->
<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>
{% endblock %}

{% block content %}

{% if errorList %}
    <ul class="errorMessage">
    {% for error in errorList %}
        <li>{{error}}</li>
    {% endfor %}
    </ul>
{% endif %}

<h1>Book a tour package</h1>

<h4>{{ package.name }}</h4>
<p>{{ package.details }}</p>
<p>Price: ${{ package.price }}</p>

<form action="/packages/{{ package.id }}/book" method="post">           
    User Name: <input type="text" name="name" value="{{v.username}}"><br>
    Email: <input type="email" name="email" value="{{v.email}}"><br>
    Phone Number: <input type="text" name="phone" value="{{v.phoneNo}}"><br>
    {# <input type="submit" name="submit" value="Book Now"> #}
    <button type="submit" class="btn btn-primary">Book Now</button>
</form>
{% endblock content %}