{% extends "admin/master.html.twig" %}

{% block title %}Cancel your booking{% endblock %}

{% block addHead %}

<!-- prevent to resubmit -->
<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>
{% endblock %}

{% block content %}

<h3>Cancel your booking</h3>

<form method="post">
    <div class="form-group"> 
        <p>Package Name: {{ package.name }}</p>
    </div>
    <div class="form-group"> 
        <p>Type: {{ package.type }}</p>
    </div>
    <div class="form-group"> 
    <p>Location: {{ package.location }}</p>
    </div>
    <div class="form-group">
    <p>Booking time: ${{ order.placedTS }}</p>
    </div>
    <div class="form-group">
    <p>Price: ${{ package.total }}</p>
    </div>
    <h6>Please confirm this action. It is irreversible</h6>
    <button type="submit" class="btn btn-primary">Delete Now</button>
</form>

<a href="/">Cancel and go back to homepage</a>
{% endblock content %}